.header__lang-link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity .2s linear;
}