.places {
    width: 984px;
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .places {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 48px);
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
        margin-top: 64px;
    }
}